@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-orange-200 text-black;
}

.infinity-watermark {
  @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-[40vw] text-gray-200 opacity-20 pointer-events-none z-0;
}

@keyframes pan {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5%, -5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-pan {
  animation: pan 10s ease-in-out infinite;
}

@keyframes rotateToInfinity {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.animate-rotate-infinity {
  animation: rotateToInfinity 1s ease-out forwards;
}
